<div class="home-wrap">
    <div class="home-div">
        <div class="home-line">
            <div class="left-block">
                <div class="home-item" (click)="goManagement()">モニタリング</div>
            </div>
            <div class="right-block">
                <div class="home-item">カード番号・顧客検索</div>
            </div>
        </div> 
        <div style="display:flex">
            <div class="left-block">
                <div class="home-item">精度検証</div>
            </div>
            <div class="right-block">
                <div class="home-item">業務・運用管理画面</div>
            </div>
        </div>
    </div>
</div>